In [1]:
import pandas as pd

In [8]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (9, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'L1 L2 L3 L4'.split(),'C1 C2 C3 C4'.split())
df

    C1  C2  C3  C4
L1   1   2   3   4
L2   5   6   7   8
L3   9  10  11  12
L4  13  14  15  16

In [10]:
# Seleceionando uma coluna retorna um type Series
df['C1']

L1     1
L2     5
L3     9
L4    13
Name: C1, dtype: int64

In [13]:
type(df['C1'])

pandas.core.series.Series

In [11]:
# Selecionando mais de uma coluna retorna um type Data Frame

In [12]:
df[['C1', 'C2']]

    C1  C2
L1   1   2
L2   5   6
L3   9  10
L4  13  14

In [14]:
type(df[['C1', 'C2']])

pandas.core.frame.DataFrame

In [17]:
# Seleção de linhas, comecando da linha 3 até a ultima
df[2:]

    C1  C2  C3  C4
L3   9  10  11  12
L4  13  14  15  16

In [19]:
# Seleção de linhas e colunas ao mesmo tempo
df[1:][['C1', 'C2']]

    C1  C2
L2   5   6
L3   9  10
L4  13  14

In [20]:
# O 'loc' permite fazer seleções a partir dos rotulos da linhas retorna uma Series
df.loc['L3']

C1     9
C2    10
C3    11
C4    12
Name: L3, dtype: int64

In [22]:
# 'loc' para duas linhas retorna um Data frame, é semelhante ao df[2:]
df.loc[['L3', 'L4']]

    C1  C2  C3  C4
L3   9  10  11  12
L4  13  14  15  16

In [23]:
# seleção de valores com referencia de linhas e colunas com 'loc'
df.loc['L1', 'C2']

2

In [28]:
# Seleção de multiplos valores com 'loc'
df.loc[['L1', 'L3'], ['C1', 'C4']]

    C1  C4
L1   1   4
L3   9  12

In [29]:
df

    C1  C2  C3  C4
L1   1   2   3   4
L2   5   6   7   8
L3   9  10  11  12
L4  13  14  15  16

In [39]:
# retornando valores com 'iloc' através de slices [linhas, Linha] [coluna, colunna]
df.iloc[[0, 2], [0, 3]]

    C1  C4
L1   1   4
L3   9  12