In [3]:
import pandas as pd
s = pd.Series(list('jsahdiauwhwwwdsdwdwdsdwekjawnjnvkc'))
s

0     j
1     s
2     a
3     h
4     d
5     i
6     a
7     u
8     w
9     h
10    w
11    w
12    w
13    d
14    s
15    d
16    w
17    d
18    w
19    d
20    s
21    d
22    w
23    e
24    k
25    j
26    a
27    w
28    n
29    j
30    n
31    v
32    k
33    c
dtype: object

In [4]:
# Retorna uma lista com valores sem repetição da lista 's'
s.unique()

array(['j', 's', 'a', 'h', 'd', 'i', 'u', 'w', 'e', 'k', 'n', 'v', 'c'],
      dtype=object)

In [5]:
# mostra quantas vezes cada valor aparece na variável Series 's'
s.value_counts()

w    8
d    6
a    3
j    3
s    3
k    2
h    2
n    2
e    1
u    1
c    1
v    1
i    1
dtype: int64

In [7]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,16.67,Apartamento
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN,17.14,Apartamento
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN,29.33,Casa
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN,15.38,Casa
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN,33.33,Apartamento
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento

In [8]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio',
       'Casa de Vila'], dtype=object)

In [11]:
dados.Tipo.value_counts()

Apartamento           19532
Casa de Condomínio      996
Casa                    967
Quitinete               836
Casa de Vila            249
Name: Tipo, dtype: int64